@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* basic colors */
  --white: rgb(255, 255, 255);
  --grey: hsla(0, 0%, 100%, 0.71);
  --black: #16171b;
  --red: #b1361e;
  --dark-red: #a1321b;
  --light-red: #de935f;
  --blue: #81a2be;
  --gold: #ffc60a;
  --light-gold: rgb(236, 213, 64);
  /* properties */
  --transition: all 0.1s linear;
  --spacing: 0.1rem;
  --radius: 0.75rem;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* 
===============
Basic classes
===============
 */

.btn {
}

.link-btn {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  background: var(--black);
  color: var(--blue);
  border: 1px solid var(--blue);
  border-radius: 10px;
  margin-top: 2rem;
}
