@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto',
    'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* basic colors */
  --white: rgb(255, 255, 255);
  --light-grey: #cccccc;
  --grey: #a7a7a7;
  --black: #16171b;
  --red: #b1361e;
  --dark-red: #a1321b;
  --light-red: #de935f;
  --blue: #81a2be;
  --gold: #ffc60a;
  --light-gold: rgb(236, 213, 64);
  /* properties */
  --transition: all 0.1s linear;
  --spacing: 0.1rem;
  --radius: 0.75rem;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* 
===============
Basic classes
===============
 */

.link-btn {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  background: var(--red);
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 10px;
}

.link-btn:hover {
  background: white;
  color: var(--red);
}

.no-matches {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  margin-top: 1rem;
  line-height: 1.2;
  letter-spacing: var(--spacing);
}
